@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #252525;
}


.home,.projects,.about,img{
  user-select: none;
}

.desc{
  letter-spacing: 0.5px;
}

.M{
  display: block;
  animation: bounce 0.7s;
  animation-timing-function: ease;
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

.letter{
  animation: pop 2s 1;
}

@keyframes pop{
  0%{
    transform: rotate(360deg);
    opacity: 0;
  }


  100%{
    transform: rotate(6deg);
    opacity: 1;
  }
}


@keyframes bounce {
  25%{
    transform: scale(1,1.3);
  }

  50% {
transform: scale(1.3, 0.8);
}

  75% {
transform: scale(0.7, 1.3);
}

}




.home:hover::after{
  display: block;
  color: lightblue;
  letter-spacing: 3px;
  font-weight: bold;
  opacity: 1;
  transition-duration: 2s;
  transition-timing-function: ease-in;
}

.home::after{
  content: 'Home';
  position: absolute;
  left: 50%;
    transform: translate(-50%, 0);
    display: none;
    font-size: 1rem;
    transition-duration: 2s;
  transition-timing-function: ease-in;
}


.about:hover::after {
  display: block;
  color: lightblue;
  font-weight: bold;
  letter-spacing: 3px;
  opacity: 1;
  transition-duration: 2s;
  transition-timing-function: ease-in;
}

.about::after {
  content: 'About';
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: none;
  font-size: 1rem;
  transition-duration: 2s;
  transition-timing-function: ease-in;
}

.skills:hover::after {
  display: block;
  color: lightblue;
  letter-spacing: 3px;
  font-weight: bold;
  opacity: 1;
  transition-duration: 2s;
  transition-timing-function: ease-in;
}

.skills::after {
  content: 'Skills';
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: none;
  font-size: 1rem;
  transition-duration: 2s;
  transition-timing-function: ease-in;
}

.projects:hover::after {
  display: block;
  color: lightblue;
  letter-spacing: 1px;
  font-weight: bold;
  opacity: 1;
  transition-duration: 2s;
  transition-timing-function: ease-in;
}

.projects::after {
  content: 'Projects';
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: none;
  font-size:1rem;
  transition-duration: 2s;
  transition-timing-function: ease-in;
}

@media only screen and (max-width: 800px) {
  .home::after{
    font-size: 0.6rem;
  }
     .about::after {
       font-size: 0.6rem;
     }
            .skills::after {
              font-size: 0.6rem;
            }

            .projects::after {
              font-size: 0.6rem;
            }
}

.home:hover{
  color:"#181818" ;
}



@keyframes spincube {

  from,
  to {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  16% {
    -webkit-transform: rotateY(-90deg);
  }

  33% {
    -webkit-transform: rotateY(-90deg) rotateZ(90deg);
  }

  50% {
    -webkit-transform: rotateY(-180deg) rotateZ(90deg);
  }

  66% {
    -webkit-transform: rotateY(-270deg) rotateX(90deg);
  }

  83% {
    -webkit-transform: rotateX(90deg);
  }
}

@keyframes spincube {

  from,
  to {
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  16% {
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }

  33% {
    -moz-transform: rotateY(-90deg) rotateZ(90deg);
    -ms-transform: rotateY(-90deg) rotateZ(90deg);
    transform: rotateY(-90deg) rotateZ(90deg);
  }

  50% {
    -moz-transform: rotateY(-180deg) rotateZ(90deg);
    -ms-transform: rotateY(-180deg) rotateZ(90deg);
    transform: rotateY(-180deg) rotateZ(90deg);
  }

  66% {
    -moz-transform: rotateY(-270deg) rotateX(90deg);
    -ms-transform: rotateY(-270deg) rotateX(90deg);
    transform: rotateY(-270deg) rotateX(90deg);
  }

  83% {
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
}



.cubespinner {
  -webkit-animation-name: spincube;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 12s;

  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-transform-origin: 150px 150px 0;
  -moz-transform-origin: 150px 150px 0;
  -ms-transform-origin: 150px 150px 0;
  transform-origin: 150px 150px 0;
}

.cubespinner div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border: 1px solid whitesmoke;
  background: rgba(255, 255, 255, 0.186);
  box-shadow: inset 0 0 20px rgb(151, 196, 233);
  line-height: 120px;
  text-align: center;
  font-size: 100px;
}

.cubespinner .face1 {
  -webkit-transform: translateZ(150px);
  -moz-transform: translateZ(150px);
  -ms-transform: translateZ(150px);
  transform: translateZ(150px);
}

.cubespinner .face2 {
  -webkit-transform: rotateY(90deg) translateZ(150px);
  -moz-transform: rotateY(90deg) translateZ(150px);
  -ms-transform: rotateY(90deg) translateZ(150px);
  transform: rotateY(90deg) translateZ(150px);
}

.cubespinner .face3 {
  -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(150px);
  -moz-transform: rotateY(90deg) rotateX(90deg) translateZ(150px);
  -ms-transform: rotateY(90deg) rotateX(90deg) translateZ(150px);
  transform: rotateY(90deg) rotateX(90deg) translateZ(150px);
}

.cubespinner .face4 {
  -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(150px);
  -moz-transform: rotateY(180deg) rotateZ(90deg) translateZ(150px);
  -ms-transform: rotateY(180deg) rotateZ(90deg) translateZ(150px);
  transform: rotateY(180deg) rotateZ(90deg) translateZ(150px);
}

.cubespinner .face5 {
  -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(150px);
  -moz-transform: rotateY(-90deg) rotateZ(90deg) translateZ(150px);
  -ms-transform: rotateY(-90deg) rotateZ(90deg) translateZ(150px);
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(150px);
}

.cubespinner .face6 {
  -webkit-transform: rotateX(-90deg) translateZ(150px);
  -moz-transform: rotateX(-90deg) translateZ(150px);
  -ms-transform: rotateX(-90deg) translateZ(150px);
  transform: rotateX(-90deg) translateZ(150px);
}



.text-container {
  display: flex;
  overflow: hidden;
}

.text-container p {
  overflow: hidden;
}

.text-container:first-of-type {

  animation: showup 7s infinite;
}

.text-container p {
  animation: reveal 1.3s;
  animation-iteration-count: 1;
}

.text-container:last-of-type span {
  margin-left: -355px;
  animation: slidein 7s infinite;
}



@keyframes reveal {
  0% {
    opacity: 0;
    transform:translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
} 


p {
  /* color: #999; */
}


.project1:hover .project1-overlay{
  transform: translateY(-100%);
}


.snowflake{
  position: absolute;
  width: 6px;
  visibility: hidden;
  height: 6px;
  border-radius: 100%;
  background-color: antiquewhite;
  bottom: 0;

}

@keyframes snowflake {
  0%{
    bottom: 1%;
    display: block;
    visibility: visible;
  }

  100%{
    bottom: 70%;
    visibility: hidden;
      display: block;
      
  }
  
}



.battery {
  height: 110px;
  width: 225px;
  border: 8px solid #ffffff;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 12px;
}

.battery:before {
  content: "";
  position: absolute;
  margin: auto;
  height: 55px;
  width: 20px;
  background-color: #ffffff;
  right: -25px;
  top: 0;
  bottom: 0;
  border-radius: 0 7px 7px 0;
}

.battery:after {
  content: "";
  position: absolute;
  height: 80px;
  width: 40px;
  background-color: green;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 10px;
  border-radius: 5px;
  box-shadow: 50px 0 transparent,
    100px 0 transparent,
    150px 0 transparent;
  animation: charge 0.5s 1;
}

@keyframes charge {
  22% {
    box-shadow: 50px 0 transparent,
      100px 0 transparent,
      150px 0 transparent;
  }

  25% {
    box-shadow: 50px 0 green,
      100px 0 transparent,
      150px 0 transparent;
  }

  47% {
    box-shadow: 50px 0 green,
      100px 0 transparent,
      150px 0 transparent;
  }

  50% {
    box-shadow: 50px 0 green,
      100px 0 green,
      150px 0 transparent;
  }

  72% {
    box-shadow: 50px 0 green,
      100px 0 green,
      150px 0 transparent;
  }

  75% {
    box-shadow: 50px 0 green,
      100px 0 green,
      150px 0 green
  }

  95% {
    box-shadow: 50px 0 green,
      100px 0 green,
      150px 0 green;
  }
}

/*   */

.projects-btn,
.projects-btn::after {
  /* background: linear-gradient(45deg, transparent 5%, #FF013C 5%); */
  color: #fff;
  letter-spacing: 3px;
  /* line-height: 88px; */
  box-shadow: 6px 6px 6px #00E6F6;
  outline: transparent;
  position: relative;
}

.projects-btn::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'AVAILABLE NOW';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #00E6F6 5%);
  text-shadow: -3px -3px 0px white, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.projects-btn:hover::after {
  animation: 0.8s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}